
.App {
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
}

.row {
  margin-bottom: 20px;
}

.calc {
  text-align: left;
  display: inline-block;
  border: 5px solid #F0F8FF;
  background-color: #87CEEB;
  padding:25px;
  
}

.title {
  width: 150px;
  display: inline-block;
}


#submit {
  display: block;
  max-width: 300px;
  margin: auto;
  width:60%;
}

#submit:hover {
  
}

#intake {
  text-align:center;
  padding-top:10px;
}

#male-gender-input {
  margin-right: 20px;
}